@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
*
{
    font-family: 'Cairo', sans-serif;
}
*::selection
{
    background-color: #f44336;
    color: white;
}
#sido
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#sido .card
{
    margin: 30px;
    /* box-shadow: 0 0 10px black; */
}
.card-title
{
    margin-top: 20px;
    text-align: center;
}
.view
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: ; */
    /* border: 2px solid red; */
}
.view a 
{
    width: 100%;
}